<!-- doctorDashboard.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Doctor Dashboard</title>
    <link rel="icon" type="image/png" th:href="@{/assets/images/logo/logo.png}" />

    <!-- Stylesheets -->
    <link rel="stylesheet" th:href="@{/assets/css/adminDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/doctorDashboard.css}">
    <link rel="stylesheet" th:href="@{/assets/css/style.css}">

    <!-- Scripts -->
    <script th:src="@{/js/util.js}" defer></script>
    <script th:src="@{/js/render.js}" defer></script>
    <script th:src="@{/js/components/header.js}" defer></script>
    <script th:src="@{/js/components/footer.js}" defer></script>
    <script type="module" th:src="@{/js/doctorDashboard.js}" defer></script>
</head>

<body onload="renderContent()">
    <div class="container">
        <div class="wrapper">
            <!-- Header Placeholder -->
            <div id="header"></div>

            <!-- Main Section -->
            <div class="main-content">
                <input type="text" id="searchBar" class="searchBar" placeholder="Search Bar for custom output" />

                <!-- Filter Controls -->
                <div>
                    <button id="todayButton" class="today-btn">Today</button>
                    <input type="date" id="datePicker" class="date-picker">
                </div>

                <!-- Patient Table -->
                <table class="table">
                    <thead class="table-header">
                        <tr>
                            <th>Patient ID</th>
                            <th>Patient Name</th>
                            <th>Patient Phone No.</th>
                            <th>Patient Email</th>
                            <th>Prescription</th>
                        </tr>
                    </thead>
                    <tbody id="patientTableBody">
                    </tbody>
                </table>
            </div>

            <!-- Footer Placeholder -->
            <div id="footer"></div>
        </div>
    </div>
</body>

</html>